/*font-family: 'Poppins', sans-serif;*/
/*font-family: 'Lato', sans-serif;*/
/*common start*/

body{
	margin:0;
	padding: 0;
	
}


/*common end*/

/*header start*/

header{ 

	padding: 25px 0;
 }



.wrapper{ 
  width:90%;
  margin: 0 auto;
  /*border: 1px solid black;*/
  overflow: hidden;






 }
.logo{
	margin-top: 10px;
	float:left;
	width: 20%;
}
.logo img{ 
      width: 100%;
 }
.menu{
	float: right;
	width: 70%;
	/*border: 1px solid black;*/
}
.menu ul{
	float: right;

}
.menu ul li{
	list-style: none;
	float: left;
}
.menu ul li a{
	margin: 0 50px;
	padding: 5px 5px;
	font-size: 16px;
	color: #e4775d;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	border-bottom: 1px solid transparent;
}
.menu ul li :last child a{
	margin-right: 0;
}
.menu ul li a:hover{
	border-bottom: 2px solid #e4775d;
	transition: 0.7s;
}

/*header end*/
/*banner start*/
.p_content{
	float:left;
	width: 30%;
	

}
.p_content img{
	margin-top:200px;
	margin-left: 100px;

	width:100%;
}
.p_content b{
	margin-top: 30px;
	margin-left: 150px;
	font-size: 16px;
	letter-spacing: 1px;
	float: left;
	color:#b3b3b3; 

}
.photo{
	margin-top: 20px;
	width: 55%;

	float:right;
}

.photo img{
	width: 100%;
}

/*banner end*/
/*footer start*/
















/*footer end*/